{% extends 'inaEthe/base.html' %}

{% block page_content %}
<div class="container mt-3">
    <h2>Available Books</h2>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 d-flex">
            <div class="card mb-4 d-flex flex-column text-center">
                <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}" style="width: 350px; height: 250px; object-fit: cover;">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description|truncatewords:20 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'inaEthe:book_detail' book.id %}" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock page_content %}
