{% extends 'inaEthe/base.html' %}

{% block page_content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Delete Content</h1>
    <div class="alert alert-warning text-center bg-secondary">
        <p class="text-light">Are you sure you want to delete the following content?</p>
        <h3>{{ content.title }}</h3>
    </div>
    
    <div class="text-center">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'inaEthe:content_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock page_content %}
